@page "/create-student"
@using AntDesign
@rendermode InteractiveServer


<h3>CreateStudent</h3>

<Form Model="CreateRequest"  OnFinish="HandleSubmit" OnFinishFailed="HandleFailed">
	<FormItem Label="Name">
		<Input @bind-Value="CreateRequest.Name" />
	</FormItem>
	<FormItem Label="Date of birth">
		<DatePicker @bind-Value="CreateRequest.DateOfBirth" Format="dd/MM/yyyy" />
	</FormItem>
	<FormItem Label="Address">
		<Input @bind-Value="CreateRequest.Address" />
	</FormItem>
	<FormItem Label="Classroom Id">
		<Input @bind-Value="CreateRequest.Classroom.Id" />
	</FormItem>
	<FormItem>
		<Button Type="ButtonType.Primary" HtmlType="submit">
			Submit
		</Button>
	</FormItem>
</Form>


@code {

}
