@page "/update-student/{id:int}"
@using AntDesign
@rendermode InteractiveServer


<h3>UpdateStudent</h3>
@if(Student == null)
{
	<p>Loading...</p>
}
else{
	<Form Model="Student" OnFinish="HandleUpdate" OnFinishFailed="HandleFailed">
		<FormItem Label="Name">
			<Input @bind-Value = "Student.Name"/>
		</FormItem>
		<FormItem Label="Date of birth">
			<DatePicker @bind-Value="Student.DateOfBirth" Format="dd/MM/yyyy"/>
		</FormItem>
		<FormItem Label="Address">
			<Input @bind-Value ="Student.Address"/>
		</FormItem>
		<FormItem >
			<Button Type="ButtonType.Primary" HtmlType="submit" >
				Submit
			</Button>
		</FormItem>
	</Form>
}

@code {
    
}
